@font-face 
{
    font-family: 'robotoRegular';
    src: url('./fonts/Roboto-Regular.ttf') format('truetype');
}

body 
{
  font-family: 'robotoRegular', Comic Sans MS, Verdana, Arial, sans-serif;
}

h1
{
  font-variant: small-caps;
}

h2
{
  color: white;
  font-size: 1.3em;
  background-color: rgb(33 88 190);
}

ul
{
	list-style-type: none;
}

a
{
	color: rgb(33 88 190);
}

header, section, footer 
{
  padding: 5px 5px 5px 5px;
}

header, footer
{
	text-align: center;
}

header
{
	background-image: radial-gradient(circle at center, white, rgb(33 88 190));
}

footer
{
  background-color: grey; 
  padding: 2px 2px 2px 2px;
}

footer a 
{
  margin-left: 6px;
  color: rgb(30 36 115);
}

.logo a:hover
{
  color: rgb(33 88 190);
}

.logo
{
  font-size: 2em;
}

/* Navigation */
nav
{
  background-color: rgb(30 36 115);
}

nav ul
{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

nav li
{
    float: left;
}

nav a
{
    font-size: 1.3em;
    color: white;
    display: block;
    text-align: center;
    padding: 10px 12px;
    text-decoration: none;
}

nav a:hover
{
    background-color: grey;
}